.main_section
{
    position: relative;
    /* background: linear-gradient( rgb(171, 232, 171), rgb(148, 182, 223)); */
    /* background: lightgreen; */
    background-image: url('/blurbgm.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    height: 96.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* filter: blur(12px);
    -webkit-filter: blur(1px); */
    /* background-size: 400% 400%; */
    /*animation: gradient-bg 20s ease infinite;*/
}
@media screen and (max-width:999px)
{
  .main_section
  {
    height: 160vh;
    overflow: auto;
  }
}