.imageSlider {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.leftArrow, .rightArrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.leftArrow {
  left: 32px;
  color: black;
}

.rightArrow {
  right: 32px;
  color: black;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 999px) {
  .imageSlider {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}